/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    font-family: Open Sans;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.btn-blue{
    background-color: #0061ff;
    color: white;
    padding: 0.3em 1em;
    text-decoration: none;
}
.float{
    float: left;
}
li{
    list-style: none;
}
.mg-bt{
    margin-bottom: 1em;
}
.mg-bt4{
    margin-bottom: 4em;
}
.mid{
    margin: 0 5%;
}

/* HEADER */
.cont-head{
    width: 100%;
    line-height: 100%;
    background-color: white; 
    position: fixed;
}
.col-head-left{
    display: inline-block;
    width: 65%;
    vertical-align: middle;
}
.col-head-right{
    display: inline-block;
}
#logo{
    width: 150px;
    height: 35px;
    vertical-align: middle;
    margin-left: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.cont-head a{
    text-decoration: none;
    color: black;
    margin-left: 1.5em;
}
.col-head-left a{
   vertical-align: middle;
}
.col-head-right a:last-child{
    color: white;
}

/* BANNER */
.banner{
    background-color: #adcde7;
    height: 700px;
}
.cont-banner{
    width: 80%;
    margin: auto;
    height: 600px;
    padding-top: 100px; 
}
.cont-banner h1{
    font-size: 4.5em;
    margin-bottom: 0.5em;
}
.col-banner{
    width: 30%;
}
.text-banner{
    margin-bottom: 2em;
}
.row-banner p{
    margin-top: 1em;
    margin-bottom: 2em;
}
.fa-arrow-down{
    font-size: 2em;
}
.logo-jumbo{
    width: 70%;
}
#jumbo{
    width: 800px;
}

/* MAIN */
.cont-main{
    width: 70%;
    margin: auto;
}
.piano{
    padding-top: 8em;
}
.piano h1{
    font-size: 1.8em;
    margin: 2em 0;
}
.piano input:last-child{
    margin-left: 1em;
}
.col{
    background-color: white;
    border: 2px solid grey;
    width: 30%;
    padding-bottom: 6em;
    margin-bottom: 4em; 
}

/* Intestazione colonne */
.fa-address-book-o{
    font-size: 1em;
}
.title-col{
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 0.5em 0;
}
.content-col{
    margin: 10% 10% 0;
}
p a{
    color: #0061ff;
}
li span{
    color: #0061ff;
}
.content-col h2{
    font-size: 1em;
}
.content-col>h3{
    font-size: 0.8em;
    color: grey;
    margin-bottom: 2em;
}
.content-col>.btn-blue{
    margin: 8em 0;
}
.divider{
    width: 30%;
    border-top: 2px solid lightgrey;
}
.contact{
    border: 2px solid grey;
    margin-bottom: 5em;
}
.cont-contact{
    line-height: 2.5em;
    margin: 2em 2em;
}
.row-contact h1{
    display: inline-block;
    width: 70%;
}

/* PARTNER */
.col-left{
    width: 50%;
}
.col-right{
    width: 45%;
    margin-left: 5%;
}
#partner{
    width: 100%;
}
.col-right h1, p{
    margin: 1em 0;
}
.col-right span a{
    color: black;
    border: 1px solid black;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em 1.5em;
    margin-top: 1em;
}

/* BUSINESS */
.business h1{
    font-size: 1.5em;
} 
.business .row{
    margin-bottom: 3em;
}
.cell{
    width: 30%;
}
.cell img{
    width: 100%;
}
/* FOOTER DEL MAIN */
.foot-main{
    width: 50%;
}
.foot-main h1{
    font-size: 2em;
}
.foot-main span a{
    color:#0061ff;
}

/* DESIGNIT */
.designit-cont{
    /* test */
    height: 300px;
    background-color: rgb(247, 0, 255);
    border: 3px solid rgb(119, 109, 18);
    /* test */
}
.col-designit{
    /* test */
    height: 300px;
    background-color: rgb(255, 0, 76);
    border: 3px solid rgba(119, 109, 18, 0);
    /* test */
}
.prova{
     /* test */
     background-color: rgb(28, 128, 243);
     height: 200px;
     /* test */
}

/* FOOTER */
.row-white{
    /* test */
    height: 200px;
    /* test */
}
.row-black{
    /* test */
    background-color: rgb(0, 0, 0);
    height: 200px;
    /* test */
}