/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
html{
    font-family: Open Sans;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}
.btn-blue{
    background-color: #0061ff;
    color: white;
    padding: 0.3em 1em;
    text-decoration: none;
}
/* HEADER */
.cont-head{
    width: 100%;
    line-height: 100%;
    background-color: white; 
    position: fixed;
}
.col-head-left{
    display: inline-block;
    width: 65%;
    vertical-align: middle;
}
.col-head-right{
    display: inline-block;
}
#logo{
    width: 150px;
    height: 35px;
    vertical-align: middle;
    margin-left: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}
.cont-head a{
    text-decoration: none;
    color: black;
    margin-left: 1.5em;
}
.col-head-left a{
   vertical-align: middle;
}
.col-head-right a:last-child{
    color: white;
}
/* BANNER */
.banner{
    background-color: #adcde7;
    height: 800px;
}
.cont-banner{
    width: 80%;
    margin: auto;
    height: 600px;
    padding-top: 100px; 
}
.cont-banner h1{
    font-size: 4.5em;
    margin-bottom: 0.5em;
}
.row-banner{
    width: 30%;
    display: inline-block;
}
.text-banner{
    margin-bottom: 2em;
}
.row-banner p{
    margin-top: 1em;
}
#jumbo{
    /* test */
    width: 300px;
    /* !test */
}
/* MAIN */
.cont-main{
    /* test */
    /* height: 800px; */
    background-color: crimson;
    /* test */
    width: 70%;
    margin: auto;
}
.piano{
    /* test */
    height: 500px;
    background-color: rgb(63, 63, 39);
    border: 2px solid rgb(17, 18, 75);
    /* test */
}
.col{
    /* test */
    height: 200px;
    background-color: yellow;
    border: 2px solid rgb(255, 0, 0);
    /* test */
}
.contact{
    /* test */
    height: 50px;
    background-color: blueviolet;
    /* test */
}
.partner{
    /* test */
    height: 300px;
    background-color: rgb(30, 255, 0);
    border: 3px solid rgb(35, 119, 18);
    /* test */
}
.col-left{
    /* test */
    height: 50px;
    background-color: rgb(43, 214, 226);
    border: 2px solid black;
    /* test */
}
.col-right{
    /* test */
    height: 50px;
    background-color: rgb(211, 162, 216);
    border: 2px solid black;
    /* test */
}
.cell{
    /* test */
    height: 50px;
    background-color: orange;
    border: 1px solid black;
    /* test */
}
.designit-cont{
    /* test */
    height: 300px;
    background-color: rgb(247, 0, 255);
    border: 3px solid rgb(119, 109, 18);
    /* test */
}
.col-designit{
    /* test */
    height: 300px;
    background-color: rgb(255, 0, 76);
    border: 3px solid rgba(119, 109, 18, 0);
    /* test */
}
.prova{
     /* test */
     background-color: rgb(28, 128, 243);
     height: 200px;
     /* test */
}

/* FOOTER */
.row-white{
    /* test */
    height: 200px;
    /* test */
}
.row-black{
    /* test */
    background-color: rgb(0, 0, 0);
    height: 200px;
    /* test */
}